body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.titulo{
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
}

.navbar{
    width: 300px;
    color: #e3b062;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a{
    color: #E3B062;
    text-decoration: none;
}

#a_cadastro{
    font-weight: bold;
}

#a_inicio{
    font-weight: bold;
}

.navbar a:hover{
    color: #32B9CD;
}

.header{
    border-bottom: 3px solid #32b9cd;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container{
    justify-content: space-between;
}

.banner{
    background-image: url("./assets/imagens/bg-jelly-fish-para_outras_pags.png");
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
}

.banner .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*BANNER*/
.banner .container p{
    font-size: 32px;
    width: 200px;
}

/*SOCIAL*/
.social{
    background-color: #F7F7F7;
    height: 500px;
}

.social .container{
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.social .container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.social .container .box img{
    width: 100px;
}

.social .container .box p{
    width: 400px;
}

/*FOOTER*/
.footer{
    background-color: #32B9CD;
    color: white;
}

.footer .container{
    justify-content: center;
    text-align: center;
}

.cadastro{
    background-color: #d8d8d8;
    width: 400px;
    height: 450px;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: palevioletred;
    font-weight: 550;
    margin: 50px;
}

.cadastro .titulo{
    font-size: 30px;
    font-weight: 550;
    color: palevioletred;
    margin-bottom: 20px;
}

.cadastro input{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color: #32b9cd;
    width: 200px;
    height: 32px;
    border-style: double;
    border-radius: 10px;
}

.cadastro button{
    color: white;
    background-color: #ff0364;
    border-style: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin-top: 5%;
    font-size: 18px;
    font-weight: 600;
}

